extends ../layout/common
block content
  h1 Update Users page
  form(action= `/users/${id}/update`, method="post", class="input-group")
    input(name="name")
    button(class="btn btn-primary") Update